<!DOCTYPE html>
<html lang="et">
<head>
	<meta charset="utf-8">
	<title>Mattias Tamm</title>
</head>
<body>
	<img src="/banner/vp_banner_2024.png" alt="veebiprogrammeerimise 2024. aasta kursuse b채nner">
	<h1>Lingid</h1>
	<ul>
		<li><a href="/news">Uudiste avaleht</a></li>
		<li><a href="/home">Avalehele</a></li>
	</ul>
	<hr>
	<h2>Uudised</h2>
	<% news.forEach(function(item) { %>
		<% if(item.last_edit != null){ %>
			<li>Pealkiri: <%= item.news_title %> | Kuup채ev: <%= item.news_date %> | Viimase muutmise kuup채ev: <%= item.last_edit %> | <a href="/news/edit/<%= item.id %>">Muuda</a> </li>
		<% } else { %>
			<li>Pealkiri: <%= item.news_title %> | Kuup채ev: <%= item.news_date %> | <a href="/news/edit/<%= item.id %>">Muuda</a> </li>
		<% } %>
	<% }); %>
	<hr>
	<p><%= locals.notice || 'Ootel!' %></p>
</body>
</html>