<!DOCTYPE html>
<html lang="et">
<head>
  <meta charset="utf-8">
  <title>Mattias Tamm</title>
</head>
<body>
  <img src="/banner/vp_banner_2024.png" alt="veebiprogrammeerimise 2024. aasta kursuse bänner">
  <h1>Mattias Tamm</h1>
  <p>See leht on loodud õppetöö raames <a href="https://www.tlu.ee" target="_blank">Tallinna Ülikoolis</a>, Digitehnoloogiate instituudis ja ei sisalda tõsiselt võetavat materjali.</p>
  <hr>
  <h2>Ilm</h2>
  <ul>
    <li><a href="/">Avalehele</a></li>
    <li><a href="/weather">Ilmast</a></li>
  </ul>
  <hr>
  <h3><%= locName %></h3>
  <p><%= locPhen %></p>
  <p>Temperatuuri alampiir: <%= locMin %></p>
  <p>Temperatuuri ülempiir: <%= locMax %></p>
  <hr>
  <p><%= locals.notice || "" %></p>

</body>
</html>